*
*/

# Allowlist
!*.sh
!.github/
!.github/**/*
!bin/**
!bash_aliases
!bashrc
!gitconfig
!.gitignore
!tigrc
!vimrc
!config/
!config/nvim
!config/nvim/**
!config/pypoetry/**
!config/zellij
!config/zellij/config.kdl
!config/git/ignore
