*

# Allowlist
!bin/**
!bash_aliases
!bashrc
!gitconfig
!.gitignore
!tigrc
!vimrc
!envs/**
!init_dots.sh
!install.sh
!practical-vim.txt
!settings.vim/**
!config
!config/nvim/**
!config/pypoetry/config.toml
!config/git/**
